@charset "utf-8";


/*ν—¤λ”*/
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    background: #fff;
    z-index: 999;
}
#header h1{
    margin-top: 29px;
    float: left;
    margin-right: 90px;
}


.gnb li{
    font-size: 16px;
    float: left;
    padding: 0 25px;
}
.gnb li a{position: relative;}
.gnb li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 36px;
    background: #927CBF;
    transform: scale(0,1);
    transition: transform 0.8s;
    position: absolute;
    top: -5px;
    z-index: -9000;
}
.gnb li:hover a::after{transform:scale(1.5,1);}



.hWrap{position: relative;}
.util{
    position: absolute;
    right: 0;
    font-size: 14px;
}
.util li{float: left;}
.util li::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #bbb;
    margin: 0 15px;
}
.util li:last-child::after{display: none;}
.util li:hover a{color: #333;}
.util li a{color: #bbb;}





/*ν‘Έν„°*/
.fWrap{position: relative;}
#footer{
    padding: 90px 0;
    position: relative;
    background: #f9f9f9;
    color: #939393;
}
#footer h3{
    display: inline-block;
    padding-right: 90px;
    vertical-align: middle;
}
.fTxt{
    vertical-align: middle;
    display: inline-block;
    line-height: 25px;
}
.copy{padding-top: 20px;}
.fSns{
    position: absolute;
    top: 45px;
    right: 0;
}
.fSnsList li{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.linkey{
    position: absolute;
    top: -160px;
    left: 50%;
    margin-left: -827px;
    z-index: -10000;
}







































