@charset "utf-8";

body{padding-top: 0;}
#header{background: #EAECF0;}
#wrap{position: relative;}


/*λ§¤μΈ*/
.con01{
    color: #5B5B5B;
    padding-top: 200px;
    padding-bottom: 240px;
    background: #EAECF0;
}
 
.mainTxt{text-align: center;}
.mainTxt h2{
    font-size: 120px;
    font-weight: 900;
    letter-spacing: 50px;
    margin-left: 50px;
    font-family: 'notoSerif';
}
.mainTxt p{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}
.mainTxt span{font-weight: 700;}

.btn{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 170px;
    margin-right: 0px;
    font-size: 20px;
}
.btn span{font-weight: 900;}
.btnWrap{
    display: inline-block;
    font-family: 'paybooc';
    font-weight: 300;
}
.seller{
    padding: 0 40px;
    float: left;
}
.customer{
    padding: 0 40px;
    float: left;
}

.mainTxt{}
.mainTxt p{
    font-weight: 200;
    text-align: center;
    font-size: 28px;
    letter-spacing: 30px;
}
.mainTxt p span{
    font-weight: 700;
}
.bTxt{
    font-family: 'notoSerif';
    font-size: 30px;
    line-height: 64px;
    font-weight: 300;
    color: #5B5B5B;
    text-align: center;
}
.bTxt p{display: inline-block;}
.bTxt p span{font-weight: 900;}




/*ν‘Έν„°*/

#footer{
    padding: 90px 0;
    position: relative;
    background: #f9f9f9;
    color: #939393;
}

.fWrap{position: relative;}
#footer h3{
    display: inline-block;
    padding-right: 90px;
    vertical-align: middle;
}
#footer h3 a{}
#footer h3 img{}

.fTxt{
    vertical-align: middle;
    display: inline-block;
    line-height: 25px;
}

.copy{padding-top: 20px;}

.fSns{
    position: absolute;
    top: 45px;
    right: 0;
}

.fSnsList li{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
}